#conteudo > h2 {
    margin-top: 0px;
}

#conteudo h2 {
    border-bottom: 1px dashed #333;
    padding-left: 10px;
    border-left: 5px solid #333;
}

h3 {
    color: #555;
}

#conteudo p {
    text-align: justify;
    line-height: 1.5em;
    color: #333;
    font-size: 22px;
    text-indent: 30px;
}

#conteudo p.nident {
    text-indent: 0px;
}

code:not([class]),
code.destaque {
    font-size: 18px;
    background-color: bisque;
    opacity: 0.8;
    border: 1px dashed lightgray;
    border-radius: 10px;    
    padding-right: 5px;
    padding-left: 5px;    
}

#conteudo li {
    line-height: 2em;
}

main a {
    text-decoration: none;
    border-bottom: 1px dashed lightblue;
}

main a:hover {
    border-bottom: 1px dashed blue;
    background-color: #f5f5ff;
}

div.paineis {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
}

div.painel {
    border: 1px solid lightgray;
    border-radius: 10px;
    margin-right: 10px;
    padding: 10px;
    box-shadow: 5px 10px #f4f4f4;
}

div.painel h3 {    
    margin: 0;
    font-size: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 10px;
}

blockquote {
    margin-left: 0px;
    padding-left: 1em;
    border-left: 4px solid #e2e2e2;
}

table.tabela {
    border: 1px solid #333;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table.tabela td {
    border: 1px solid #333; 
    padding: 10px;   
}

.bg-cinza { 
    background-color: lightgray;
}

.video_yt {
    margin: 0 auto;
    box-shadow: 5px 10px #bbb;
    display: block;
}

div.figura {
    text-align: center;
}

div.figura img,
img.figura {
    border: 2px solid #888;
    box-shadow: #aaa 10px 10px 30px;
}

div.sumario {
    background-color: lightyellow;
    border: 1px dashed orange;
    padding: 30px;
    border-radius: 30px;
}

div.sumario span {
    font-weight: bold;
}