@font-face {
    font-family: Roboto;
    src: url(/fontes/Roboto/Roboto-Regular.ttf);
}

body {
	margin: 0;
	padding: 0;
	background-color: white;
	font-family: Roboto, sans-serif;
}

#layout {
	width: 95vw;
	margin: 0 auto;
	margin-top: 10px;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	box-shadow: 0 0 30px 1px;
}

#layout header {
	background-color: #e2e2e2;
	border: 1px solid #999;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
}

#meio {
	display: flex;
	flex-direction: row;	
	min-height: 400px;
}

#layout nav {
	border-right: 1px solid #e2e2e2;
	padding: 0px;
	flex-shrink: 0;
	flex-basis: 250px;
	background-color: #f4f4f4;
}

#layout main {
	background-color: white;
	border: 1px solid #e2e2e2;
	padding: 10px;
	width: 100%;
}

#layout footer {
	background-color: #e2e2e2;
	color: grey;
	padding: 20px;
	text-align: right;
	border-top: 1px solid #999;	
}