body {
	margin: 0;
	padding: 0;
}

#layout {
	width: 100vw;
}

#layout header {
	display: flex;
	background-color: #e2e2e2;
	padding: 20px;
	border: 1px solid #999;
	align-items: center;
}

#layout header h1 {
	font-size: 30px;
	font-weight: normal;
}

#layout header img.logo {
	border-radius: 1000px;
	width: 50px;
	height: 50px;
	margin-right: 10px;
}

#meio {
	display: flex;
	flex-direction: row;	
	min-height: 400px;
}

#layout nav {
	border-right: 1px solid #e2e2e2;
	padding: 0px;
	flex-shrink: 0;
	flex-basis: 250px;
	background-color: #f4f4f4;
}

#layout main {
	border: 1px solid #e2e2e2;
	padding: 10px;
	width: 100%;
	font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

#layout footer {
	background-color: #e2e2e2;
	color: grey;
	padding: 20px;
	text-align: right;
	border: 1px solid #999;
}