:root {
    --cor-borda: #F2A391;
    --cor-fundo: #F2B705;
    --cor-texto: black;
    --cor-fundo-hover: #05DBF2;
}

ul.menu,
ul.menu ul {
    border-right: 1px solid var(--cor-borda);
}

ul.menu ul {
    border-left: 1px solid var(--cor-borda);
}

ul.menu, 
ul.menu ul,
ul.menu li.submenu {
    list-style: none;
    margin: 0px;
    padding: 0px;    
    border-top: 1px solid var(--cor-borda);
}

ul.menu li {
    z-index: 1000;
}

ul.menu li.item {
    border-left: 3px solid var(--cor-borda);
}

ul.menu li.item,
ul.menu li.submenu span {        
    background-color: var(--cor-fundo);
    border-bottom: 1px solid var(--cor-borda);
}

ul.menu li.item a,
ul.menu li.submenu span {
    padding: 10px;
    display: block;
    color: var(--cor-texto);
}

ul.menu li.item a {    
    text-decoration: none;
    border-bottom: none;
}

ul.menu li.item:hover,
ul.menu li.submenu:hover > span,
ul.menu li.submenu span:hover {
    background-color: var(--cor-fundo-hover);
}

/**
 * Submenu
 */
ul.menu li.submenu span {
    border-left: 3px solid var(--cor-borda);
}

/* Faz todo ul filho de um li ficar oculto */
ul.menu li.submenu ul {
    display: none;
    width: 300px;
}

/* Faz o ul filho imediato ficar visível */
ul.menu li:hover > ul {
    display: block;
}

/* Faz um ul filho aparecer ao lado do li pai */
ul.menu li.submenu {
    position: relative;
}

ul.menu li.submenu ul {
    position: absolute;
    left: 100%;
    top: 0px;
}