#layout header ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: flex;
    flex-direction: row-reverse;
    margin-right: 10px;    
}

#layout header ul li {
    padding: 0px;
    margin: 0px;
    margin-left: 10px;
}

#layout header ul li a {
    text-decoration: none;
    border: none;
}

#layout header ul li a:hover {
    background-color: none;
}

#layout header ul li img {
    width: 25px;
    height: 25px;
}