/*#layout header div.titulo a {
	padding-top: 10px;
	display: flex;
	align-items: center;
	text-decoration: none;
	color: #333;
}

#layout header img.logo {
	border-radius: 1000px;
	width: 40px;
	height: 40px;
	margin-right: 10px;
}

#layout header h1 {
	font-size: 30px;
	font-weight: normal;
}*/

#layout header a {
	line-height: 0px;
}

#layout header img.topo {
	width: 100%;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
}